div.row div{
	width:85px;
	height:85px;
	background-color:black;
	display:inline-block;
}
	div.row div.tree{
		background: url('../images/tree.png');
	}
	div.row div.ground{
		background: url('../images/ground.png');
	}
	div.row div.bridge{
		background: url('../images/bridge.png');
	}
	div.row div.rock{
		background: url('../images/rock.png');
	}
	div.row div.canon{
		background: url('../images/canon.png');
	}
	/*145px or 174px*/
	div#player1{
		position:absolute;
		top:150px;
		left:25px;
		background: url('../images/player.gif') -145px -130px;
		width:24px;
		height:42px;
	}	
	div.bullet{
		border-radius:15px;
		background-color:orange;
		width:7px;
		height:7px;
		position:absolute;
	}